{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<h1>เครื่องจักร</h1>
<div class='row'>
{% for printer in printer_test %}
    <div class='col-md-4'>
    	<div class='card mb-2'>
    		<img class='card-img-top' src='{% static printer.image %}'>
    		<div class='card-body'>
   			 <h5 class='card-title'>{{ printer.title}}</h5>
   			 <p class='card-text'>{{printer.description}}</p>
    			 <a href='{% url 'printer_detail' printer.pk %}'
     			    class='btn btn-primary'>
       			     Read More
        		</a>
           	 </div>
       	 	</div>
    	</div>
    	 {% endfor %}
</div>
 {% endblock %}
